@using System.Web.Helpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Helpers Chart -->
<div>
    <img src="@Url.Action("GoalHelperChart")" />
</div>

@*<div class="row">@Html.Partial("IndexPartial")</div>*@

